
// Variables for site
// - see bootrap_and_overrides file for 
// - bootstrap override vars
$bodyBackground: rgb(113, 139, 152);
$contentBackground: rgb(242, 249, 252);
$textColor: rgb(30, 68, 87);
$heads12: rgb(136, 16, 12);
$heads3456: rgb(16, 36, 46);
