
.home h3, .home h4, h2.center{
  text-align: center;
}

form {
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 1em 0 2em 0;
  width: 75%;
  margin-left: 12.5%;
    label {
      font-size: 1.5em;
      font-style: bold;
      display: inline-block;
      padding: .5em;
    }
    input {
      font-size: 1.5em;
    }
}

input#bill_number {
  width: 50%;
}

input#bill_type_s,
input#bill_type_sres {
  margin: 0 0 .3em 0;
}
