@import "master";

div.home h1 {
  font-size: 3em;
}

div.home h2 {
  font-size: 2em;
  line-height: 1.5em;
}

div.home h3, .home h4 {
  text-align: center;
}

form {
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 1em 0 2em 0;
  width: 75%;
  margin-left: 12.5%;
    label {
      font-size: 1.5em;
      font-style: bold;
      display: inline-block;
      padding: .5em;
    }
    input {
      font-size: 1.5em;
    }
}

input#bill_number {
  width: 50%;
}

input#bill_type_s,
input#bill_type_sres {
  margin: 0 0 .3em 0;
}

::-webkit-input-placeholder {
   color: red;
}
:-moz-placeholder { /* Firefox 18- */
   color: red;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}
:-ms-input-placeholder {  
   color: red;  
}
