p {
  text-align: justify;
}

a {
  color: rgb(25, 25, 25);
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h5.indent {
  margin-left: 1em;
}

// Clearfix

.clearfix {
   *zoom: 1;
}

.clearfix:before,
.clearfix:after {
   display: table;
   content: " ";
   line-height: 0;
}

.clearfix:after {
   clear: both;
}  
