@import "master";

// Background

.content {
  background-color: $contentBackground;
}

// Typography

p {
  text-align: justify;
  font-style: italic;
}

h1 {
  font-size: 1.75em;
  line-height: 1.5em;
}

h1, h2 {
  color: $heads12;
}

h3, h4, h5, h6 {
  color: $heads3456;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h5.indent {
  margin-left: 1em;
}

li {
  font-size: 1.25em;
  line-height: 1.5em;
}

.center {
  text-align: center;
}

// Buttons

.btn {
  color: $textColor;
  background-color: rgb(246, 159, 156);
  background-image: none;
  font-size: 1.5em;
}

.btn:hover, .btn:focus {
  color: $contentBackground;
  background-color: rgb(58, 86, 100);
}


// Clearfix

.clearfix {
   *zoom: 1;
}

.clearfix:before,
.clearfix:after {
   display: table;
   content: " ";
   line-height: 0;
}

.clearfix:after {
   clear: both;
}  
