.vote h4 {
  text-align: center;
}

// Vote boxes

div.vote-box {
    border-right: 1px solid;
    padding: .3em 2em 1em 2em;
    height: 8em;
    cursor: pointer;
    -webkit-transition: background-color .5s, color .5s, ease .1s;
    -moz-transition: background-color .5s, color .5s, ease .1s;
    -ms-transition: background-color .5s, color .5s, ease .1s;
    -o-transition: background-color .5s, color .5s, ease .1s;
    transition: background-color .5s, color .5s, ease .1s;
      li {
        list-style-type: none;
        display: inline-block;
        padding: 0 1.5em 0 0;
      }
}

div.vote-box-first {
    border-left: 1px solid; 
}

div.vote-box:hover {
  background-color: #333333;
  color: #EEEEEE;
}

ul.vote-box {
  text-align: center
}

// Details

p.details {
  text-align: center;
}

p.drop { 
  position: relative;
  top: -.6em;
  left: -25em;
  padding: 1em;
  margin: 0 0 0 -35%;
  width: 150%;
  background-color: #333333;
  color: white;
  opacity: 0;
  z-index: 10;
  -webkit-transition: opacity .1s, left 0s, step-end .1s;
     -moz-transition: opacity .1s, left 0s, step-end .1s;
      -ms-transition: opacity .1s, left 0s, step-end .1s;
       -o-transition: opacity .1s, left 0s, step-end .1s;
          transition: opacity .1s, left 0s, step-end .1s;

}

p.details:hover ~ p {
  opacity: 1;
  left: 0;
} 

div.section-clear {
  height: 2em;
}

// Roll call table

div#roll-call {
  position: relative;
  top: -7em;
    h2 {
      margin-left: 41%;
      margin-right: auto;
      width: 9em;
    }
}

.vote table {
  width: 100%;
}

.vote td {
  font-size: 1.1em;
  line-height: 1.5em;
  padding: 0 0 0 0;
  min-width: 2.5em;
}

.vote table.right-column {
  td.legislator {
    padding: 0 0 0 1em;
  }
}

.vote div.section-clear {
  height: 2em;
}
